<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    {% if forms %}
        {% for i in forms %}
            <h2>{{i}}</h2>
            <p>From date {{i.from_date}}</p>
            <p>To date {{i.to_date}}</p>
            <p>Place {{i.place}}</p>
            <p>Reason for leave {{i.reason_for_leave}}</p>
            <p>Parents name {{i.parents_name}}</p>
            <p>Parents mobile no {{i.parents_pno}}</p>
            {% if flag %}
                <p>Counsellor</p>
                {% if i.counsellor_sign %}
                    <p>&#x2713;</p>
                {% else %}
                    <p>&#x2717;</p>
                {% endif %}
                <p>Year Coordinator</p>
                {% if i.year_coordinator_sign %}
                    <p>&#x2713;</p>
                {% else %}
                    <p>&#x2717;</p>
                {% endif %}
                <p>HOD</p>
                {% if i.hod_sign %}
                    <p>&#x2713;</p>
                {% else %}
                    <p>&#x2717;</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No record found</p>
    {% endif %}
</body>
</html>