<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    {% for i in messages %}
        <p>{{i}}</p>
    {% endfor %}
    {% if forms %}
        {% for i in forms %}
            <p>{{i.student.first_name}} {{i.student.last_name}}</p>
            <p><a href="mailto:{{i.student.email}}">{{i.student.email}}</a></p>
            <p>Applied on {{i.applied_date}}</p>
            <p>From date {{i.from_date}}</p>
            <p>To date {{i.to_date}}</p>
            <p>Place {{i.place}}</p>
            <p>Reason for leave {{i.reason_for_leave}}</p>
            <p>Parents name {{i.parents_name}}</p>
            <p>Parents phone no {{i.parents_pno}}</p>
            <button><a href="{% url 'hod:approve-outing-form' id=i.id %}">Approve</a></button>
            <button><a href="{% url 'hod:deny-outing-form' id=i.id %}">Deny</a></button>
        {% endfor %}
    {% else %}
        <p>No record found</p>
    {% endif %}
</body>
</html>