<!DOCTYPE html>
<html lang="en">
<head>
    <title>Students</title>
</head>
<body>
    <h1>Students</h1>
    {% for i in messages %}
        <p>{{i}}</p>
    {% endfor %}
    <table style="border:1 solid">
        <tr><td>Username</td><td>Year</td><td>Change password</td><tr>
            
            {% for i in students %}
                <tr>
                    <td>{{i.username}}</td>
                    <td>{{i.year}}</td>
                    <td><a href="{% url 'hod:change-student_password' id=i.id %}">Change password</a></td>
                </tr>
            {% endfor %}
        </tr>
    </table>
</body>
</html>